<body>
  <div class="container">
    <!-- Page Content goes here -->
<% if @track && @track.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |single| %>
        <li><%= single %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<hr>

<div class="text">
<p>Please fill out the form below to post your favorite track!</p>
</div>
<hr>

<form method="post" action="/track">
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @mtrack && @track.author %>", size="50">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @mtrack && @track.title %>", size="50">
  </div>
  <div>
    <label>Url:</label>
    <input type="text" name="url" value="<%= @mtrack && @track.url %>", size="50">
  </div>
  <div class="abutton">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</form>

</div>
</body>
